WindowsForma/WindowsFormsApp1/Connected Services/ServiceReference1/ConversionService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://fahrenheittocelsiusconversion.azurewebsites.net/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://fahrenheittocelsiusconversion.azurewebsites.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://fahrenheittocelsiusconversion.azurewebsites.net/Imports">
      <xsd:import schemaLocation="http://fahrenheittocelsiusconversion.azurewebsites.net/ConversionService.svc?xsd=xsd0" namespace="http://fahrenheittocelsiusconversion.azurewebsites.net/" />
      <xsd:import schemaLocation="http://fahrenheittocelsiusconversion.azurewebsites.net/ConversionService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConversionService_FahrenheitToCelsius_InputMessage">
    <wsdl:part name="parameters" element="tns:FahrenheitToCelsius" />
  </wsdl:message>
  <wsdl:message name="IConversionService_FahrenheitToCelsius_OutputMessage">
    <wsdl:part name="parameters" element="tns:FahrenheitToCelsiusResponse" />
  </wsdl:message>
  <wsdl:message name="IConversionService_CelsiusToFahrenheit_InputMessage">
    <wsdl:part name="parameters" element="tns:CelsiusToFahrenheit" />
  </wsdl:message>
  <wsdl:message name="IConversionService_CelsiusToFahrenheit_OutputMessage">
    <wsdl:part name="parameters" element="tns:CelsiusToFahrenheitResponse" />
  </wsdl:message>
  <wsdl:portType name="IConversionService">
    <wsdl:operation name="FahrenheitToCelsius">
      <wsdl:input wsaw:Action="http://fahrenheittocelsiusconversion.azurewebsites.net/IConversionService/FahrenheitToCelsius" message="tns:IConversionService_FahrenheitToCelsius_InputMessage" />
      <wsdl:output wsaw:Action="http://fahrenheittocelsiusconversion.azurewebsites.net/IConversionService/FahrenheitToCelsiusResponse" message="tns:IConversionService_FahrenheitToCelsius_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CelsiusToFahrenheit">
      <wsdl:input wsaw:Action="http://fahrenheittocelsiusconversion.azurewebsites.net/IConversionService/CelsiusToFahrenheit" message="tns:IConversionService_CelsiusToFahrenheit_InputMessage" />
      <wsdl:output wsaw:Action="http://fahrenheittocelsiusconversion.azurewebsites.net/IConversionService/CelsiusToFahrenheitResponse" message="tns:IConversionService_CelsiusToFahrenheit_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>